{% extends "css_home.html" %}

{% block pageContent %}
<a href="https://www.tutorialspoint.com/css/what_is_css.htm" target="_blank">https://www.tutorialspoint.com/css/what_is_css.htm</a><br>
<a href="https://www.tutorialrepublic.com/css-tutorial/css-box-model.php" target="_blank">https://www.tutorialrepublic.com/css-tutorial/css-box-model.php</a><br>
<a href="https://www.tutorialrepublic.com/css-tutorial/css-margin.php" target="_blank">https://www.tutorialrepublic.com/css-tutorial/css-margin.php</a><br>
<a href="https://www.tutorialrepublic.com/css-tutorial/css-display.php" target="_blank">https://www.tutorialrepublic.com/css-tutorial/css-display.php</a><br>
<a href="https://www.tutorialrepublic.com/css-tutorial/css3-flexible-box-layouts.php" target="_blank">https://www.tutorialrepublic.com/css-tutorial/css3-flexible-box-layouts.php</a><br>



{% endblock %}