{% extends "html_home.html" %}

{% block pageContent %}
<a href="https://www.tutorialspoint.com/html/html_basic_tags.htm" target="_blank">https://www.tutorialspoint.com/html/html_basic_tags.htm</a><br>
<a href="https://www.tutorialrepublic.com/html-tutorial/html-attributes.php" target="_blank">https://www.tutorialrepublic.com/html-tutorial/html-attributes.php</a><br>
<a href="https://www.tutorialrepublic.com/html-tutorial/html-forms.php" target="_blank">https://www.tutorialrepublic.com/html-tutorial/html-forms.php</a><br>
<a href="https://www.tutorialrepublic.com/html-tutorial/html-meta.php" target="_blank">https://www.tutorialrepublic.com/html-tutorial/html-meta.php</a><br>



{% endblock %}